---
---
@charset "utf-8";
@import 
	"../stylesheets/normalize",
	"../stylesheets/plugins/modular-scale/modular-scale",
	"../stylesheets/color"
;
$ms-base: 1em;
$ms-ratio: 1.5;
body, html{
	width: 100%;
	height: 100%;
	font-size: $ms-base;

}
.hidden{
	position: absolute !important;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
@import 
	"../stylesheets/typography",
	"../stylesheets/layout",
	"../stylesheets/posts"
;