$black:			#474E5D;
$med-grey: 		#777;
$light-grey:	#CCC;
$yellow:		#F2C300;
$green:			#58dca9;

$red:				#FF646A;
$orange:			#FCB941;
$blue:				#2C82C9;


$default: 		$black;
$subtitle:		$med-grey;
$border-color:	$yellow;

.default{ color: $default; }

body{
	color: $default;
}
p a, article li a{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted darken($green, 10%);
	font-weight: 700;
	&:hover{
		border-bottom: 1px solid darken($green, 10%);
	}
}