$black:			#474E5D;
$med-grey: 		#777;
$light-grey:	#CCC;
$yellow:		#F2C300;
$green:			#2CC990;


$default: 		$black;
$subtitle:		$med-grey;
$border-color:	$yellow;

.default{ color: $default; }

body{
	color: $default;
}
p a, article li a{
	color: $green;
	text-decoration: none;
	border-bottom: 1px dotted $green;
	&:hover{
		border-bottom: 1px solid $green;
	}
}