.grid-wrapper{
	display: grid;
 	grid-template-columns: repeat(6, 1fr);
  	grid-gap: 10px;
 	grid-auto-rows: minmax(50px, auto);
 	& > div[class^="g-"],
 	& > div[class^="col-"],
 	& > section[class^="g-"],
 	& > nav[class^="g-"]{
 		// border: 1px solid black;
 	}
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6{
	display: none;
	grid-row: 1;
}
.col-1{
	grid-column: 1;
}
.col-2{
	grid-column: 2;
}

.col-3{
	grid-column: 3;
}
.col-4{
	grid-column: 4;
}
.col-5{
	grid-column: 5;
}
.col-6{
	grid-column: 6;
}

.g-header {
  grid-column: 1 / 8;
  grid-row: 1;
}
.g-nav{
	grid-column: 1 / 8;
	grid-row: 2;
}
.g-leader{
	grid-column: 1 / 8;
	grid-row: 3;
}
.g-ux { 
  grid-column: 1 / 8;
  grid-row: 5;
}
.g-code {
  grid-column: 1 / 8;
  grid-row: 6;
}
.g-list {
  	grid-column: 1 / 8;
  	grid-row: 7;
}
.g-learn {
	grid-column: 1 / 8;
	grid-row: 4;
}
.grid-item{
	&:not(.landing-leader){
		padding: 20px;
	}
	h2, h3{
		text-align: right;
		border-bottom: 1px dotted $la-blue;
	}
}
@media all and (min-width: 768px){
	nav{
		height: 100%;
		text-align: right;
	}
	.g-header {
	  	grid-column: 2 / 6;
	  	grid-row: 1;
	}
	.g-nav{
		grid-column: 1;
		grid-row: 2 / 4;
	}
	.g-leader{
		grid-column: 2 / 7;
		grid-row: 3;
		margin-top: -50px;
		margin-bottom: 40px;
	}
	.g-ux { 
	  grid-column: 4 / 1;
	  grid-row: 4;
	}
	.g-code {
	  grid-column: 4 / 7;
	  grid-row: 4;
	}
	.g-list {
	  	grid-column: 1 / 5;
	  	grid-row: 5;
	}
	.g-learn {
	  grid-column: 7 / 5;
	  grid-row: 5;
	}
}

@media all and (min-width: 1024px){
	.g-leader {
	  	grid-column: 2 / 6;
	}
	.g-ux { 
	  grid-column: 4 / 2;
	}
	.g-code {
	  grid-column: 4 / 6;
	}
	.g-list {
	  	grid-column: 5 / 2;
	}
	.g-learn {
	  grid-column: 5 / 6;
	}
}

.g-learn{
	.button-wrapper{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		a{
			margin: 10px;
		}
	}
}
.landing-leader{
	text-align: left;
	padding-left: 20%;
	@media all and (min-width: 600px){
		text-align: right;
		transform: rotate(5deg);
		border-right: 5px solid $la-yellow;
	}
	.will-fade{
		font-family: $body-copy;
		line-height: 1.1;
		font-size: ms(2);
		@media all and (min-width: 600px){
			font-size: ms(2);
			// margin: 50px 0;
			padding: 80px 0;
		}
		margin: 0;
		color: $la-yellow;
		span{
			font-weight: 700;
		}
	}
	&:hover{
		.will-fade{
			.keep-visible{
				color: $red;
				&:nth-of-type(2n-2){
					color: $green;
				}
				&:nth-of-type(3n-3){
					color: $orange;
				}
				&:nth-of-type(4n-4){
					color: $blue;
				}
			}
		}
	}
	.keep-visible{
		transition: color 0.4s 0.5s ease;
		&:nth-of-type(odd){
			transition: color 1.4s ease;
		}
		&:nth-child(3n-3){
			transition: color 0.3s 0.8s ease;
		}
	}
}

.heading-wrap{
	position: relative;
	min-height: 100px;
	
	h2,h3{
		position: absolute;
		bottom: 0;
		right: 0;
		@extend .full-width;
	}
}