.full-width{
    width: 100%;
}
html{
    border-top: 10px solid $yellow;
}
header.global-header{
    @extend .full-width;
}
main{
   @extend .full-width;
   margin-bottom: 21px; 
}
article{
    &[id]{
        border-bottom: 1px dotted $med-grey;
        &:after{
            content: 'CF';
            font-family: $heading-copy;
            color: $green;
            float: right;
            font-weight: 800;
            padding-right: 10px;
        }
    }
    p, h1, h2, h3, h4, h5, h6, hr, blockquote, pre, .toc, .grabber{
        margin-left: 5px;
        margin-right: 5px;
    }
    hr{
        border: 0;
        height: 1px;
        background: $yellow;
    }
}
img{
    max-width: 100%;
}
figure{
    margin: 0;
    padding: 0;
    figcaption{
        margin: 5px;
    }
}
@media screen and (min-width: 426px){
    article{
        margin: 0 auto;
        max-width: 748px;
        margin-bottom: 30px;
        &[id]:after{
            padding-right: 0;
        }
        p, h1, h2, h3, h4, h5, h6, hr, blockquote, pre, .toc, .grabber{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
@media screen and (min-width: 769px){
    header.global-header, main{
        float: right;
    }
    header.global-header{
        width: 30%;
        margin-left: 5%;
        padding: 0 ;
    }
    main{
        width: 65%;
    }
    figure{
        figcaption{
            margin: 10px 20px;
        }
    }
    article{
        div.column{
            width: 50%;
            float: left;
        } 

    }
}