nav{
	ul{
		margin: 0;
		padding-left: 0;
		justify-content: space-between;
		@media all and (max-width: 767px){
			display: flex;
		}
		@media all and (min-width: 460px){
			justify-content: center;
		}
		li{
			list-style-type: none;
			// min-width: 220px;
		
			a{
				@extend .overrule-link-style;
				display: block;
				height: 100%;
				padding: 10px; 
				font-weight: 900;
			}
			// &.search-wrapper{
			// 	display: flex;
			// 	flex-direction: row;
			// 	padding: 10px 0 0 10px;
			// 	border-bottom: 1px dotted $la-blue;
			// }
		}
	// 	.nav-search{
	// 		border: none;
	// 	}
	// 	.button-nav-search{
	// 		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20fill%3D%22%23000000%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E');
	// 		background-repeat: no-repeat;			
	// 		background-color: transparent;
	// 		background-position: right;
	// 		text-indent: 1000%;
	// 		white-space: nowrap;
	// 		overflow: hidden;
	// 		outline: none;
	// 		border: none;
	// 	}
	// }

}
}