nav{
	text-align: right;
	width: 30%;
	float: right;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			line-height: 1.2;
			border-bottom: 1px dotted $green;
			position: relative;
			&:last-of-type{
				border: none;	
			}
			&:hover{
				border-bottom: 1px solid $green;
			}
			
			a{
				display: block;
				padding: 10px;
				color: $black;

				&:hover, &.active{
					background: $green;
				}
				&.active:before{
					content:"\A";
					border-style: solid;
					border-width: 10px 15px 10px 0;
					border-color: transparent $green transparent transparent;
					position: absolute;
					left: -15px;
				}
			}
		}
	}
	a{
		@extend .overrule-link-style;
	}
}