$body-copy:			'Open Sans', sans-serif;
$heading-copy:		'Playfair Display', serif;

.emphasized-copy{
	font-weight: 700;
	font-style: italic;
}
body{
	font-family: $body-copy;
}
h1{
	font-size: ms(2);
}
h2{
	font-size: ms(1);
}
h3, h1+p{
	font-size: ms(1);
}
h4, h5, h6{
	font-size: ms(0);
}
p{
	font-size: ms(0);
	line-height: 27px;
}
@media screen and (min-width: 575px){
	h1{
		font-size: ms(3);
	}
	h2{
		font-size: ms(2);
	}
	h3, h1+p{
		font-size: ms(1);
	}
	h4, h5, h6{
		font-size: ms(1);
	}
}
h1{
	font-family: $heading-copy;
}
h2,h3,h1+p, h4,h5,h6{
	font-family: $body-copy;
}
h3,h1+p{
	color: $subheading;
}
h4,h5,h6{
	font-style: italic;
	font-weight: 700;
	color: $subheading;
}
h1+p{
	@extend .emphasized-copy;
	margin-top: 0;
}
article > h1 + p{
	border-top: 1px solid $border-color;
}
blockquote{
	border-top: 5px solid $border-color;
	border-bottom: 1px solid $border-color;
	border-left: none;
	border-right: none;
	color: $med-grey;
	
	p{
		@extend .emphasized-copy;
		font-size: ms(1);
	}
	h1{
		font-size: ms(2);
	}
}
h1>a{
	text-decoration: none;
	color: inherit;
}
// Drop Cap
article p span:first-child:not(.markup-wrap){
	color: $yellow;
	float: left;
	font-family: $heading-copy;
	font-size: 88px;
	line-height: 73px;
	padding-right: 8px;
}
@media screen and (min-width: 769px){
	article > h1+p{
		margin-top: -1em;
	}
}